@{ 
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>AMEXBTC: About Us</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- global stylesheet -->
    <link href="~/SiteAssets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/icommon.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/style.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="~/SiteAssets/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/SiteAssets/js/bootstrap.min.js"></script>
    <script src="~/SiteAssets/js/jquery-latest.min.js"></script>
    <script src="~/SiteAssets/js/script.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
    <!-- header part -->
    <header class="bg-inner">
        <!-- logo/meu part -->
        <div class="container">
            <div class="logo-pt">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <h1><span>AMEX</span>BTC</h1>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <!--menu main-->
                        <div id='cssmenu'>
                            <ul>
                                <li><a href='@Url.Action("Index","Home")'>Home</a></li>
                                <li><a href='@Url.Action("AboutUs","Home")'>About Us</a></li>
                                <li><a href='@Url.Action("Opportunity","Home")'>Opportunity</a></li>
                                <li><a href='@Url.Action("ContactUs","Home")'>Contact Us</a></li>
                                <li><a href='@Url.Action("Registration","Home")'>Registration</a></li>
                                <li><a href='@Url.Action("Login","Home")'>Login</a></li>
                            </ul>
                        </div>
                        <!--end menu main-->
                    </div>
                </div>
            </div>
        </div>
        <!-- heading part -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3>Cookie Policy</h3>
                </div>
            </div>
        </div>
    </header>

    <!-- welcome part -->
    <section class="inner-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>
                        <strong>Cookies</strong><br>
                        Cookies are text files containing small amounts of information, which your computer or mobile device downloads when you visit a website. When you return to these websites - or visit other websites that use the same cookies - they recognize these cookies and therefore recognize your browsing device. Cookies help websites to do lots of different jobs, like letting you navigate between pages efficiently, remembering your preferences and generally improving your browsing experience. They can also help to ensure that adverts you see online are more relevant to you and your interests.
                    </p>
                    <p>
                        <strong>What types of cookies do we use?</strong><br>
                        The type of cookies used on this website can be put into one of four categories based on the International Chamber of Commerce (ICC) guide for cookie categories: Strictly Necessary, Performance, Functionality and Targeting.
                    </p>
                    <p>
                        <strong>Strictly Necessary Cookies</strong><br>
                        These cookies are essential in order to enable you to navigate our websites and to access secure content. Without these cookies, many of the features on this website cannot be provided. These cookies don't gather information about you for profiling or targeted marketing purposes.<br>This category cannot be disabled using the cookies preference selection on this website.
                    </p>
                    <p><strong>Performance Cookies</strong><br>These cookies collect anonymous information about how visitors use our websites, for instance, which pages visitors go to most often, and if they get error messages from web pages. These cookies do not collect personally identifiable information; the information collected is anonymous and is only used to improve the performance of our websites.<br>These cookies are not used to target you with online advertising and without these cookies we cannot learn how our website is performing, and make relevant enhancements that could help improve your experience when using our online services.</p>
                    <p>
                        <strong>Functionality Cookies</strong><br>
                        These cookies allow our websites to remember choices you make (such as your user name, language or the region you are in) and tailor the website to provide enhanced features and content for you. These cookies can also be used to remember customization changes that you may make (for example text size or fonts). They may also be used to provide services you asked for such as watching a video or commenting on a blog. The information these cookies collect is anonymous and cannot be used to track your browsing activity on other websites.<br>
                        Without these cookies, a website cannot remember choices you have previously made or personalize your browsing experience.
                    </p>
                    <p>
                        <strong>Targeting Cookies</strong><br>
                        These cookies gather information about your browsing habits. They remember that you have visited a website and share this information with other organizations such as advertisers. They do this in order to provide you with adverts that are more relevant to you and your interests. Although these cookies can track your visits to other websites, they do not usually know who you are.<br>
                        Disabling these cookies will not stop online adverts from being displayed to you. However, without these cookies, online adverts you encounter may be less relevant to you and your interests.
                    </p>
                    <p>
                        <strong>Setting your cookie preferences</strong><br>
                        You can use your browser settings to disable or delete all cookies. To do this, follow instructions provided by your browser (usually located on the top navigation bar within its 'Help', 'Tools', or 'Edit' facility). Please note that if you set your browser to disable cookies, this will affect all websites that you visit. Plus you may not be able to access secure areas of this website, for example any online accounts you may hold, and you may find that forms, such as application forms, shopping baskets or personalized tools, do not remember your details as you navigate through them.
                    </p>
                    <p>
                        <strong>What happens to cookies that have been downloaded in the past?</strong><br>
                        If you have chosen to disable cookies through your browser, we will stop using the associated cookies to gather any further information. We may still use information collected previously. You can delete existing cookies from within your browser.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- end welcome part -->
    <!-- join part -->
    <section class="login-part">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                    <h1>Bringing cryptocurrency to the real world</h1>
                    <p><a href='@Url.Action("Registration","Home")' class="btn btn-success">Join For Free</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- footer part -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="foot-pnl">
                        <h3>POLICIES</h3>
                        <ul>
                            <li><a href='@Url.Action("TermsAndConditions","Home")'>Terms and Conditions</a></li>
                            <li><a href='@Url.Action("Compensation","Home")'>Compensation Plan</a></li>
                            <li><a href='@Url.Action("CookiePolicy","Home")'>Cookie Policy</a></li>
                            <li><a href='@Url.Action("PrivacyPolicy","Home")'>Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <form id="form7" name="form7" method="post" action="send-email/" enctype="multipart/form-data">
                        <div class="col-sm-6">
                            <input name="tbName" type="text" id="tbName" placeholder="Full Name" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input name="tbPhone" type="text" required="" pattern="[0-9]+" title="Only Number is Allowed.." id="tbPhone" placeholder="Phone No" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input name="tbEmail" type="email" id="tbEmail" placeholder="Email ID" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Subject" class="form-control">
                        </div>
                        <div class="col-sm-12">
                            <textarea cols="5" rows="3" type="text" name="tbMessage" id="tbMessage" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-sm-2 col-sm-offset-1 col-md-offset-1">
                    <div class="foot-pnl">
                        <h2>PAYMENT METHOD</h2>
                        <p><img src="~/SiteAssets/images/payment.png" alt="payment" class="img-responsive"></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- copyright part -->
    <section class="copyright">
        Copyright © 2017, All Rights Reserved By Amexbtc.
    </section>



</body>
</html>

