@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>AMEXBTC</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- global stylesheet -->
    <link href="~/SiteAssets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/icommon.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/style.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="~/SiteAssets/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/SiteAssets/js/bootstrap.min.js"></script>
    <script src="~/SiteAssets/js/jquery-latest.min.js"></script>
    <script src="~/SiteAssets/js/script.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
    <!-- header part -->
    <header class="bg-home">
        <!-- logo/meu part -->
        <div class="container">
            <div class="logo-pt">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <h1><span>AMEX</span>BTC</h1>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <!--menu main-->
                        <div id='cssmenu'>
                            <ul>
                                <li><a href='@Url.Action("Index","Home")'>Home</a></li>
                                <li><a href='@Url.Action("AboutUs","Home")'>About Us</a></li>
                                <li><a href='@Url.Action("Opportunity","Home")'>Opportunity</a></li>
                                <li><a href='@Url.Action("ContactUs","Home")'>Contact Us</a></li>
                                <li><a href='@Url.Action("Registration","Home")'>Registration</a></li>
                                <li><a href='@Url.Action("Login","Home")'>Login</a></li>
                            </ul>
                        </div>
                        <!--end menu main-->
                    </div>
                </div>
            </div>
        </div>
        <!-- heading part -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h2>TECHNOLOGY EDUCATION FOR TOMORROW<small>Blockchain technologies and cryptography</small></h2>
                </div>
            </div>
        </div>
    </header>

    <!-- welcome part -->
    <section class="welcome-pt">
        <div class="container">

            <div class="row left-panel">
                <div class="col-sm-6 col-md-6">
                    <div class="item-pt">
                        <img src="~/SiteAssets/images/icon-1.jpg" alt="">
                        <h4>What are benefits of Cryptocurrency?</h4>
                        <p>Cryptocurrency transactions are done via public and private keys for security purposes, and they do not require the involvement of a third party. The transaction fees are very low which allows users to avoid banks and financial institutions for wire transfers</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="item-pt">
                        <img src="~/SiteAssets/images/icon-4.jpg" alt="">
                        <h4>What is Cryptocurrency?</h4>
                        <p>Cryptocurrencies facilitate the transfer of a store of value between two parties. This contrasts the physical world, where we transfer value via tangible tokens such as pieces of paper or metal coins. In the online world, however, we use a bank or a third party to verify these transactions. By using cryptocurrency, you eliminate the need to use a third party altogether.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="item-pt">
                        <img src="~/SiteAssets/images/icon-3.jpg" alt="">
                        <h4>What is Carbon Offset?</h4>
                        <p>Global warming and emissions can be reduced by consuming less energy, reusing paper, changing traveling habits etc. Unavoidable emissions can be compensated by purchasing Carbon Offsets. Individuals can purchase Carbon Offsets to reduce their personal carbon footprint created by their energy use and traveling emissions. Companies can purchase Carbon Offsets to offset their activities and build a green image of the company. Amexbtc devotes part of its turnover to support environmental sustainability by supporting environmental projects.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="item-pt">
                        <img src="~/SiteAssets/images/icon-2.jpg" alt="">
                        <h4>What is Blockchain?</h4>
                        <p>Blockchain is a database that maintains a continuously growing list of ordered records. In cryptocurrency environment, it has been designed for transaction processing and data provenance. Blockchain is an open, distributed register that can record transaction between two parties in permanent way and is working in a peer-to-peer network. Database is managed autonomously.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- end welcome part -->
    <!-- video part -->
    <section class="video-part">
        <div class="container">
            <div class="row">
                <div class="video-main">
                    <div class="col-sm-6 col-md-6">
                        <h1>What is Amexbtc?</h1>
                        <p>Amexbtc is an education platform that brings together cryptocurrency experts and all those who are interested in being part of crypto community while taking care of the environment and offsetting their carbon footprint. It is a fully decentralized network, using cutting-edge cryptocurrency technologies.</p>
                        <p>Our goal is to become the leading global cryptocurrency education platform for business leaders and key cryptocurrency players who take care of the environment.</p>
                        <p><a href="#" class="btn-read-more">VIEW MORE &nbsp; <i class="icon icon-point-left"></i></a></p>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <img src="~/SiteAssets/images/graph.png" alt="graph" class="img-responsive img-thumbnail">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end video part -->
    <!-- about part -->
    <section class="about-part">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="about-service">
                        <div class="tt-service-icon"><img src="~/SiteAssets/images/Icons-1.png" alt=""></div>
                        <div class="tt-service-info">
                            <h2>Low Fees</h2>
                            <p>Compared to other payment solutions, Amexbtc offers low and attractive transaction fees</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="about-service">
                        <div class="tt-service-icon"><img src="~/SiteAssets/images/Icons-2.png" alt=""></div>
                        <div class="tt-service-info">
                            <h2>Eco Footprint</h2>
                            <p>Amexbtc is purchasing Carbon Offsets and funding projects for environmental sustainability</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="about-service">
                        <div class="tt-service-icon"><img src="~/SiteAssets/images/Icons-3.png" alt=""></div>
                        <div class="tt-service-info">
                            <h2>Peer to Peer</h2>
                            <p>Amexbtc transactions can take place between two people. Coins can be kept in a desktop wallet or in an online wallet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-sm-offset-2 col-md-offset-2">
                    <div class="about-service">
                        <div class="tt-service-icon"><img src="~/SiteAssets/images/Icons-4.png" alt=""></div>
                        <div class="tt-service-info">
                            <h2>Online Support</h2>
                            <p>Amexbtc support team is always on hand to help you to take full advantage of the Amexbtc system.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="about-service">
                        <div class="tt-service-icon"><img src="~/SiteAssets/images/Icons-5.png" alt=""></div>
                        <div class="tt-service-info">
                            <h2>Global</h2>
                            <p>Amexbtc is connecting millions of people to the future of technologies</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- join part -->
    <section class="join-part">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                    <h1>Amexbtc devotes part of its turnover<br>to support environmental sustainability</h1>
                    <p><a href='@Url.Action("Registration","Home")' class="btn btn-success">Join For Free</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- footer part -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="foot-pnl">
                        <h3>POLICIES</h3>
                        <ul>
                            <li><a href='@Url.Action("TermsAndConditions","Home")'>Terms and Conditions</a></li>
                            <li><a href='@Url.Action("Compensation","Home")'>Compensation Plan</a></li>
                            <li><a href='@Url.Action("CookiePolicy","Home")'>Cookie Policy</a></li>
                            <li><a href='@Url.Action("PrivacyPolicy","Home")'>Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <form id="form7" name="form7" method="post" action="send-email/" enctype="multipart/form-data">
                        <div class="col-sm-6">
                            <input name="tbName" type="text" id="tbName" placeholder="Full Name" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input name="tbPhone" type="text" required="" pattern="[0-9]+" title="Only Number is Allowed.." id="tbPhone" placeholder="Phone No" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input name="tbEmail" type="email" id="tbEmail" placeholder="Email ID" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Subject" class="form-control">
                        </div>
                        <div class="col-sm-12">
                            <textarea cols="5" rows="3" type="text" name="tbMessage" id="tbMessage" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-sm-2 col-sm-offset-1 col-md-offset-1">
                    <div class="foot-pnl">
                        <h2>PAYMENT METHOD</h2>
                        <p><img src="~/SiteAssets/images/payment.png" alt="payment" class="img-responsive"></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- copyright part -->
    <section class="copyright">
        Copyright © 2017, All Rights Reserved By Amexbtc.
    </section>




</body>
</html>
