@{ 
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>AMEXBTC: About Us</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- global stylesheet -->
    <link href="~/SiteAssets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/icommon.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/style.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="~/SiteAssets/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/SiteAssets/js/bootstrap.min.js"></script>
    <script src="~/SiteAssets/js/jquery-latest.min.js"></script>
    <script src="~/SiteAssets/js/script.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
    <!-- header part -->
    <header class="bg-inner">
        <!-- logo/meu part -->
        <div class="container">
            <div class="logo-pt">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <h1><span>AMEX</span>BTC</h1>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <!--menu main-->
                        <div id='cssmenu'>
                            <ul>
                                <li><a href='@Url.Action("Index","Home")'>Home</a></li>
                                <li><a href='@Url.Action("AboutUs","Home")'>About Us</a></li>
                                <li><a href='@Url.Action("Opportunity","Home")'>Opportunity</a></li>
                                <li><a href='@Url.Action("ContactUs","Home")'>Contact Us</a></li>
                                <li><a href='@Url.Action("Registration","Home")'>Registration</a></li>
                                <li><a href='@Url.Action("Login","Home")'>Login</a></li>
                            </ul>
                        </div>
                        <!--end menu main-->
                    </div>
                </div>
            </div>
        </div>
        <!-- heading part -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3>Privacy Policy</h3>
                </div>
            </div>
        </div>
    </header>

    <!-- welcome part -->
    <section class="inner-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>
                        <strong>Personal Data</strong><br>
                        For registration, when buying our products, asking questions or contacting our website for any other purpose, we will collect the following personal data from you:
                        <ul>
                            <li>• your name,</li>
                            <li>• mailing address, shipping address,</li>
                            <li>• telephone number and fax number,</li>
                            <li>• email address,</li>
                            <li>• user name,</li>
                            <li>• credit card data or bank account data.</li>
                        </ul>
                    </p>
                    <p>
                        <strong>Use of Personal Data</strong><br>
                        We may use your personal data for the following purposes:
                        <ul>
                            <li>• for answering your questions;</li>
                            <li>• for the execution of your orders and sending the ordered products and/or providing the ordered services to you; for this purpose it may also be required to contact you personally by telephone or email with regard to your order;</li>
                            <li>• for enabling you to use our website and communicate on it, e.g. in blogs, with other persons or contact them, if you wish to do so;</li>
                            <li>• for sending you by email information about our offers, if this was agreed by you. You may object to such use at any time.</li>
                            <li>• for our internal business purposes, e.g. data analysis, development of new products, improvement of our website and of our services, analysis of user trends and the efficiency of our promotion campaigns;</li>
                            <li>• If you are an Associate we will use your personal data for communication with you about your activity and/or the earning possibilities offered by WexPlanet, and for informing you, by mail or email, about our products, services, programs and offers you may be interested in.</li>
                            <li>• WexPlanet will use your data only for such period as they are required for the fulfillment of the above purposes, unless a longer retention period is provided by law.</li>
                        </ul>
                    </p>
                    <p>
                        <strong>Revocation</strong><br>
                        You may revoke your consent to receiving promotional offers at any time by writing at support@wexplanet.com
                    </p>
                    <p>
                        <strong>Transfer of Personal Data</strong><br>
                        <ul>
                            <li>• WexPlanet will transfer your data exclusively for the purpose of processing your orders and/or giving you access to the infrastructure (e.g. servers, IT services, web hosting) of service providers commissioned by us. These service providers will process your data strictly in compliance with our instructions and will be supervised by us. Such service providers are strictly prohibited from using the data collected and processed through WexPlanet website for their own purposes.</li>
                            <li>• If you are interested in our products or in participating in a WexPlanet business opportunity and ask for establishing a contact, we will transmit the personal data you have entered in the form to an Associate in order to allow him to advise you on the opportunities offered by WexPlanet or on our products.</li>
                            <li>• If you are interested in WexPlanet contact to purchase our products or services, you will be contacted by the Associate for this purpose.</li>
                        </ul>
                    </p>
                    <p>
                        <strong>Cross-border Transfer</strong><br>
                        Your personal data may be transferred to another group company affiliated with WexPlanet if this is necessary for the implementation of the object of the respective contract and/or for the execution of your orders or for the provision of a service. Some of the companies of the WexPlanet group may be located outside the European Economic Area and be governed by different statutory data protection provisions, or by none at all. In such case, WexPlanet assures that it will take appropriate measures in order to ensure sufficient and reasonable data protection. You may contact WexPlanet at any time regarding your right to information or any other rights.
                    </p>
                    <p>
                        <strong>Cookies</strong><br>
                        A "cookie" is a file that is saved on the hard drive and contains information about you. WexPlanet may place cookies on the hard drive of your PC in order to help you navigate through our website and make WexPlanet website an individual experience for you. If you wish to remove these cookies, most of the Internet browsers will allow you to delete cookies from the hard drive of your computer in order to prevent cookies from being saved or a warning message from popping up before a cookie is saved.
                    </p>
                    <p>
                        <strong>Web Analytics</strong><br>
                        Google Analytics, a web analysis service of Google Inc. ("Google"), is used on this website. Google Analytics uses so-called "Cookies" allowing analysis of your use of the website. Information about your use of the website created by a Cookie (including your anonymized IP address) is then transferred to a server of Google Inc. in the USA and stored there. Google will use this information to evaluate your use of the website, compile reports on website activities for the website operator and provide further data related to website and Internet use. Google will transfer this information to third parties if prescribed by law or to the extent those third parties are commissioned by Google Inc. to process the data. Google will in no case link your IP address with other data of Google Inc. You may block the installation of Cookies by certain settings provided by your browser software; we would like to inform you, however, that in this case you may not be able to have full access to all website functions. Furthermore, you can prevent the compilation of data (including your IP address) through cookies and website use by downloading and installing the browser plug-in available through the following link: http://tools.google.com/dlpage/gaoptout?hl=de By using this website, you agree to the processing of the data gathered about you by Google in the way described above and for the aforementioned purposes. Further Information about Google Analytics and data protection is available through the following link http://www.google.com/intl/de/analytics/privacyoverview.html
                    </p>
                    <p>
                        <strong>Use of Facebook Social Plug-ins</strong><br>
                        This website may use so-called social plugins ("Plugins") of the social network Facebook operated by Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA ("Facebook"). If you call up a page on our website that contains such a plugin, your browser will establish a direct link with the servers of Facebook. The contents of the plugin will be transferred by Facebook directly to your browser and included by your browser in the website. By including the plugin, Facebook will receive the information that your browser has called up the corresponding page of our website even if you do not have a Facebook account or if you are not logged in with Facebook at that moment. This information (including your IP address) is transferred by your browser directly to a server of Facebook and saved there. If you are logged in to Facebook, Facebook is able to link the visit of our website directly with your Facebook account. If you interact with the plugins, the corresponding information is also directly transferred to a server of Facebook and saved there. The gathered information is used for analyzing how you use website, for reports about your activities for us, and for enabling us to provide improved services related to the use of the website. If you do not wish Facebook to link the data collected through our web presentation with your Facebook account, you must log out from Facebook before visiting our website. Regarding the purpose and extent of the collection of data and the further processing and use of such data by Facebook, and regarding your rights and the possible settings for the protection of your privacy, please see Facebook’s privacy policy: http://www.facebook.com/policy.php.
                    </p>
                    <p>
                        <strong>External Websites</strong><br>
                        Our websites may contain links to websites operated by other companies. If you use such links, you will leave the website of WexPlanet. WexPlanet is not responsible for such third-party websites. The WexPlanet Privacy Policy does not apply to websites of third parties. Please check directly on such websites how such protected personal data are used.
                    </p>
                    <p>
                        <strong>Modification of Data and Right of Information</strong><br>
                        If you wish to verify, rectify or delete personal data made available to us at an earlier date, you may contact us at any time by writing at: support@wexplanet.com. In your request, please state exactly what data are concerned. We will process your request as soon as possible. At your request, WexPlanet will inform you whether and what personal data are saved about you with us.
                    </p>
                    <p>
                        <strong>Adjustment of the Data Protection Provisions</strong><br>
                        WexPlanet shall be entitled to modify these data protection provisions. Registered users will be informed of any such modifications. The modified provisions shall apply to all new users with immediate effect. For existing users such adjusted provisions shall become effective within a period of 30 days from their announcement, unless they have been objected to in writing.
                    </p>
                    <p>
                        <strong>Data Security</strong><br>
                        WexPlanet uses technical and organizational security measures in order to protect your data administrated by us against accidental or intentional manipulation, loss, destruction or access by unauthorized persons. Our security measures are regularly improved in accordance with the state of technological developments. The processing and transfer of data are made by the SSL (Secure Socket Layer) procedure.
                    </p>
                    <p>
                        <strong>Contact</strong><br>
                        If you have any questions regarding this Privacy Policy or the scope of personal data, please contact us at the following email address: support@wexplanet.com.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- end welcome part -->
    <!-- join part -->
    <section class="login-part">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                    <h1>Bringing cryptocurrency to the real world</h1>
                    <p><a href='@Url.Action("Registration","Home")' class="btn btn-success">Join For Free</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- footer part -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="foot-pnl">
                        <h3>POLICIES</h3>
                        <ul>
                            <li><a href='@Url.Action("TermsAndConditions","Home")'>Terms and Conditions</a></li>
                            <li><a href='@Url.Action("Compensation","Home")'>Compensation Plan</a></li>
                            <li><a href='@Url.Action("CookiePolicy","Home")'>Cookie Policy</a></li>
                            <li><a href='@Url.Action("PrivacyPolicy","Home")'>Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <form id="form7" name="form7" method="post" action="send-email/" enctype="multipart/form-data">
                        <div class="col-sm-6">
                            <input name="tbName" type="text" id="tbName" placeholder="Full Name" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input name="tbPhone" type="text" required="" pattern="[0-9]+" title="Only Number is Allowed.." id="tbPhone" placeholder="Phone No" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input name="tbEmail" type="email" id="tbEmail" placeholder="Email ID" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Subject" class="form-control">
                        </div>
                        <div class="col-sm-12">
                            <textarea cols="5" rows="3" type="text" name="tbMessage" id="tbMessage" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-sm-2 col-sm-offset-1 col-md-offset-1">
                    <div class="foot-pnl">
                        <h2>PAYMENT METHOD</h2>
                        <p><img src="~/SiteAssets/images/payment.png" alt="payment" class="img-responsive"></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- copyright part -->
    <section class="copyright">
        Copyright © 2017, All Rights Reserved By Amexbtc.
    </section>



</body>
</html>

