@{ 
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>AMEXBTC: About Us</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- global stylesheet -->
    <link href="~/SiteAssets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/icommon.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="~/SiteAssets/css/style.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="~/SiteAssets/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/SiteAssets/js/bootstrap.min.js"></script>
    <script src="~/SiteAssets/js/jquery-latest.min.js"></script>
    <script src="~/SiteAssets/js/script.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
    <!-- header part -->
    <header class="bg-inner">
        <!-- logo/meu part -->
        <div class="container">
            <div class="logo-pt">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <h1><span>AMEX</span>BTC</h1>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <!--menu main-->
                        <div id='cssmenu'>
                            <ul>
                                <li><a href='@Url.Action("Index","Home")'>Home</a></li>
                                <li><a href='@Url.Action("AboutUs","Home")'>About Us</a></li>
                                <li><a href='@Url.Action("Opportunity","Home")'>Opportunity</a></li>
                                <li><a href='@Url.Action("ContactUs","Home")'>Contact Us</a></li>
                                <li><a href='@Url.Action("Registration","Home")'>Registration</a></li>
                                <li><a href='@Url.Action("Login","Home")'>Login</a></li>
                            </ul>
                        </div>
                        <!--end menu main-->
                    </div>
                </div>
            </div>
        </div>
        <!-- heading part -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3>Terms and Conditions</h3>
                </div>
            </div>
        </div>
    </header>

    <!-- welcome part -->
    <section class="inner-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p><strong>Contract for the Supply of Goods<br></strong>The display of goods and services on the WexPlanet website amounts to an invitation to treat only and is not an offer to sell at any price indicated. No contract for the supply of goods will be deemed to exist between you and WexPlanet unless, and until, an email is sent by WexPlanet to you confirming that your order has been processed. You must check that the details of your confirmation email are correct as soon as possible and you should print out and keep a copy for your records. This confirmation email amounts to an acceptance by of your offer to buy goods from WexPlanet. The contract will become effective with the delivery of goods and/or services. Price and availability information is subject to change without notice.</p>
                    <p>
                        <strong>Site Information</strong><br>
                        To the fullest extent permitted by law, WexPlanet is providing this site and its contents on an "as is" basis and makes no representations or warranties of any kind with respect to this site or its contents. WexPlanet disclaims all such representations and warranties, including, for example, warranties of merchantability and fitness for a particular purpose. In addition, WexPlanet does not represent or warrant that the information accessible via this site is accurate, complete or current.
                    </p>
                    <p>
                        <strong>Processing of Orders</strong><br>
                        WexPlanet will aim to process your order within 48 hours of receiving it. Some items may be unavailable. You can keep track of the progress of your order on-line by logging in to your Order Management Area. Please note that your order may be sent to you in instalments. All prices include VAT. Shipments to your delivery address may be subject to import duties and taxes which are levied once a shipment reaches your country. Any such additional charges to clear customs must be borne by you. You should note that customs policies vary widely from country to country so we advise that customers contact their local customs office for further information. Note that international shipments are subject to opening and inspection by customs authorities.
                    </p>
                    <p>
                        <strong>Limitation of Liability</strong><br>
                        This liability section applies only to the extent permitted by law. Except as set out below, neither WexPlanet nor any of their directors, employees or other representatives will be liable for damages arising out of or in connection with the use of this site. WexPlanet does not accept liability (except as set out below) for any errors or omissions and reserves the right to change information, specifications and descriptions of listed goods, products and services. In the unlikely event that you receive goods which were not what you ordered or which are damaged or defective, or are of a different quantity to that stated on your order form, WexPlanet shall, at its own option, make good any shortage or non-delivery, replace or repair any damaged or defective goods, or refund you the amount you paid for the goods in question provided that you notify WexPlanet of the problem in writing to within 7 days of delivery of the goods. WexPlanet does not accept liability for any indirect loss, consequential loss, and loss of data, loss of income or profit, loss of or damage to property and/or loss from claims of third parties arising out of the use of the WexPlanet website or for any products purchased from the WexPlanet website. WexPlanet will only be liable for direct loss up to a maximum total of the price of the product purchased in respect of any claim. WexPlanet does not limit its liability for death or personal injury to the extent only that it arises as a result of negligence of WexPlanet products, its directors, employees or other representatives. WexPlanet does not limit its liability for gross negligence and intention.
                    </p>
                    <p>
                        <strong>Illegal Acts</strong><br>
                        It is a crime to use a false name or a known invalid credit card to order. Anyone caught wilfully entering an erroneous or fictitious order will be prosecuted to the fullest extent of the law. We track the electronic 'fingerprints' of every order placed on the WexPlanet website to enable us and all legitimate crime prevention and prosecution authorities to trace individual users engaging in criminal activities on our website.
                    </p>
                    <p>
                        <strong>Governing Law</strong><br>
                        Any agreements made with WexPlanet and any purchases made from WexPlanet are subject to the law where the customer has his/her registered address.
                    </p>
                    <p>
                        <strong>Modification of Terms</strong><br>
                        Wexco LLC reserves the right to modify these terms at any time without prior notice. Any modification of these terms will be deemed to be effective from the date and time of posting on the WexPlanet website. These Terms and Conditions will apply to your order once you have received your confirmation email. They will supersede any other Terms and Conditions in whatever form given. Please print and retain a copy of Terms and Conditions once you have received your confirmation email. If you have any additional questions, please feel free to contact us at
                    </p>
                    <p>
                        <strong>Data Protection</strong><br>
                        The customer agrees that any personal data (name, address, email, telephone, bank account) provided by him/her on this site will be stored and processed by Wexco LLC in order to register the customer, to complete and fulfil orders and process invoices, send him/her information on products or services that we believe may be of his/her interest. Consumers may exercise their rights of objection, access, correction and deletion with regard to their data under the terms envisaged by Personal Data Protection Law. These rights may be exercised either in writing by sending a request, together with the documentation evidencing his/her identity, to
                    </p>
                    <p>
                        <strong>Rights of Revocation</strong><br>
                        You are entitled to revoke this contract without giving reasons within a period of 14 days. The period of revocation is 14 days and begins on the day the goods are delivered to you or a third party designated by you other than the carrier.<br>If you wish to exercise your right of revocation you must inform,<br><br>
                        Wexco LLC<br>16192 Coastal Highway<br>Lewes<br>Delaware, 19958<br>United States of America<br>Tel +1 320 364 0200<br>E-mail: support@wexplanet.com of your intent to revoke this contract by means of an unambiguous notice (e.g. a letter sent by post or email). You may use for this purpose the attached revocation form, the use of whichis not mandatory.<br> For the observance of the revocation period it is sufficient that the notice of the exercise of your right of revocation is sent before the expiration of the revocation period.
                    </p>
                    <p>
                        <strong>Consequences of Revocation</strong><br>
                        If you revoke this contract, any amounts paid by you to us, including shipping costs (except for extra costs incurred due to your choosing a shipping method other than the most favourable standard shipping method offered by us) will be promptly paid back to you no later than within a period of thirty days from the date we receive your notice of revocation of the contract. Unless expressly otherwise agreed upon with you, we will use for such repayment the same method of payment that was used by you in the original transaction; we will not charge you any fees for such repayment. We may decline the repayment until we have received the return shipment of the goods or you have furnished us proof of the return shipment of the goods, whichever occurs earlier.<br> After receipt of your notice of revocation of this contract, the goods must promptly be returned or delivered to Wexco LLC. no later than within a period of 30 days. This period will be observed if the goods are shipped before the expiration of the thirty-day period. The costs directly incurred in the return shipment of the goods are to be borne by you.<br> You will only be liable for a possible loss in value of the goods if such loss in value is due to your improper handling of the goods in a way not necessary for inspecting the quality, properties or functioning of the goods.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- end welcome part -->
    <!-- join part -->
    <section class="login-part">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                    <h1>Bringing cryptocurrency to the real world</h1>
                    <p><a href='@Url.Action("Registration","Home")' class="btn btn-success">Join For Free</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- footer part -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="foot-pnl">
                        <h3>POLICIES</h3>
                        <ul>
                            <li><a href='@Url.Action("TermsAndConditions","Home")'>Terms and Conditions</a></li>
                            <li><a href='@Url.Action("Compensation","Home")'>Compensation Plan</a></li>
                            <li><a href='@Url.Action("CookiePolicy","Home")'>Cookie Policy</a></li>
                            <li><a href='@Url.Action("PrivacyPolicy","Home")'>Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <form id="form7" name="form7" method="post" action="send-email/" enctype="multipart/form-data">
                        <div class="col-sm-6">
                            <input name="tbName" type="text" id="tbName" placeholder="Full Name" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input name="tbPhone" type="text" required="" pattern="[0-9]+" title="Only Number is Allowed.." id="tbPhone" placeholder="Phone No" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input name="tbEmail" type="email" id="tbEmail" placeholder="Email ID" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Subject" class="form-control">
                        </div>
                        <div class="col-sm-12">
                            <textarea cols="5" rows="3" type="text" name="tbMessage" id="tbMessage" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-sm-2 col-sm-offset-1 col-md-offset-1">
                    <div class="foot-pnl">
                        <h2>PAYMENT METHOD</h2>
                        <p><img src="~/SiteAssets/images/payment.png" alt="payment" class="img-responsive"></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- copyright part -->
    <section class="copyright">
        Copyright © 2017, All Rights Reserved By Amexbtc.
    </section>



</body>
</html>

